doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='google-signin-client_id', content='651477718828-qbo1qon71jt8266ebbr1kuucr53it0g2.apps.googleusercontent.com')
    include nav.pug
  body
    block content
